<p style="color: green"><%= notice %></p>

<%= render @group_activity %>

<div>
  <%= link_to "Edit this group activity", edit_group_activity_path(@group_activity) %> |
  <%= link_to "Back to group activities", group_activities_path %>

  <%= button_to "Destroy this group activity", @group_activity, method: :delete %>
</div>
