<div id="<%= dom_id group %>" class="group">
  <div>
    <%= image_tag (group.icon) %>
  </div>
  <div class="group-desc">
    <h2><%= group.name %></h2>
    <div class="group-links">
      <a href=<%= group_path(group) %> id="group-open">
        <i class="fa-solid fa-door-open"></i>
      </a>
      <a href=<%= edit_group_path(group) %> id="group-edit">
        <i class="fa-solid fa-pen-to-square"></i>
      </a>
      <a href=<%= group_path(group) %> data-turbo-method="delete" id="group-delete">
        <i class="fa-solid fa-trash-can"></i>
      </a>
    </div>
    <p>Total spent: $250</p>
  </div>
</div>
